/* Footer Styles */
footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* Added value for text-align */
}

footer .footer-links {
    margin-bottom: 15px;
}

footer .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

footer p {
    margin: 0;
    font-size: 1em;
}